name: Build (Windows / MSYS2)

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        libtype: [vapoursynth, avisynth]

    defaults:
      run:
        shell: msys2 {0}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - uses: msys2/setup-msys2@v2
      with:
        msystem: ucrt64
        update: true
        install: git mingw-w64-ucrt-x86_64-ninja mingw-w64-ucrt-x86_64-meson mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-vapoursynth

    - name: Configure and build
      run: |
        MESON_ARGS=(
          "builddir"
          "-Dlibtype=${{ matrix.libtype }}"
          "--buildtype=release"
          "--prefer-static"
        )
        if [[ "${{ matrix.libtype }}" != "vapoursynth" ]]; then
          MESON_ARGS+=(
          "-Dcpp_link_args=['-static-libgcc', '-static-libstdc++', '-static']")
        fi
        meson setup "${MESON_ARGS[@]}"
        meson compile -C builddir

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: descale-win64-${{ matrix.libtype }}
        path: builddir/*.dll
